<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>About - Information System - Industrial Project Platform</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon-32x32.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

<!-- Vendor CSS Files -->
<link href="<%=__dirname%>/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/aos/aos.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="<%=__dirname%>/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="<%=__dirname%>/assets/css/style.css" rel="stylesheet" />

<!-- Vendor JS Files -->


<!-- Template Main JS File -->
<script src="<%=__dirname%>/assets/js/main.js"></script>


    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">SIS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="active" href="about.html">About</a></li>
            <li><a href="events.html">Events</a></li>

            <li><a href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>About Us</h2>
          <p>
            Discover the story of our organization. Learn about our mission and
            values.
          </p>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img src="assets/img/imagesAbut.jpeg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>
                "Enriching Learning Journeys: Elevating Educational Experiences
                with a Touch of Delight."
              </h3>
              <p class="fst-italic">
                Engage in thought-provoking initiatives, seek innovation, and
                strive for excellence.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i> Embrace challenging tasks
                  to deliver unique and valuable content.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Overcome obstacles to
                  ensure quality and excellence in everything we do.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Embrace challenging tasks
                  to deliver unique content. Overcome obstacles to ensure
                  quality and excellence. Engage in thought-provoking
                  initiatives to bring you the best.
                </li>
              </ul>
              <p>
                Embrace challenging tasks to deliver unique and valuable
                content. Striving for excellence in every aspect of our work.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">
          <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
              <span
                data-purecounter-start="0"
                data-purecounter-end="1232"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Students</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span
                data-purecounter-start="0"
                data-purecounter-end="64"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Courses</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span
                data-purecounter-start="0"
                data-purecounter-end="42"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Events</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span
                data-purecounter-start="0"
                data-purecounter-end="15"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Trainers</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Graduated Students Who used this system</h2>
            <p>What are they saying</p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="" class="testimonial-img" alt="" />
                    <h3>Idris kemal</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Industrial projects, where innovation meets steel, forging
                      a future of progress and efficiency. From assembly lines
                      to groundbreaking technologies, we shape tomorrow's
                      industries today. With precision and vision, our projects
                      redefine the landscape of industrial excellence. Building
                      the foundation for a sustainable and cutting-edge
                      industrial landscape
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="" class="testimonial-img" alt="" />
                    <h3>Sara Assefa</h3>
                    <h4>Designer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Deciphering the language of pixels, other designers' code
                      tells a story in colors and lines. Each semicolon, each
                      bracket, a brushstroke on the canvas of digital
                      creativity. In the symphony of syntax, diverse
                      perspectives weave a tapestry of ingenuity. Beyond the
                      code, it's a conversation between minds shaping the
                      digital frontier.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="" class="testimonial-img" alt="" />
                    <h3>Jelani Geda</h3>
                    <h4>CEO of FarmEx</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Unless someone hates a life of toil, seeks pleasure,
                      avoids pain, they have no right to find fault with a
                      person who chooses to enjoy a pleasure that has no
                      annoying consequences.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="" class="testimonial-img" alt="" />
                    <h3>Mubarek Hussen</h3>
                    <h4>Freelancer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      For those who seek solace in the realm of pain, embracing
                      the shadows, finding beauty in the midst of darkness. A
                      journey where every ache and sorrow becomes a testament to
                      resilience. In this pursuit of self-discovery, one
                      discovers the sublime amidst the trials, finding a
                      profound illumination within.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="" class="testimonial-img" alt="" />
                    <h3>Yohannis Gemechu</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Who among them will I choose, what destinies shall I read,
                      were they there or will they be, in the grace of time? Our
                      own, in blameless labor, as we navigate the path of
                      existence. A journey through challenges, where each trial
                      is a flicker of enlightenment. To seek understanding, one
                      must traverse the complexities with a discerning eye.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->
